<section class="banner-section">
  <div class="banner-wrapper">
    <div class="banner">
      <p class="text-center banner-heading">Habits <span> and </span> Design</p>
      <p class="text-uppercase below-text text-center">Success Tips from the unsuccessful</p>
    </div>
    <div class="banner-subscribe">
      <div id="mc_embed_signup" class="banner-submit-form">
        <form action="https://habitsanddesign.us12.list-manage.com/subscribe/post-json?u=d452c0f3d9495ffa03e4c0cc1&amp;id=537c93c505&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="johnwest@gmail.com" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d452c0f3d9495ffa03e4c0cc1_537c93c505" tabindex="-1" value=""></div>
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
            <div class="g-signin2 long-google-sign-in-btn d-none" data-longtitle="true" data-height="40px" data-width="200px" data-onsuccess="onGoogleSuccess"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>