<section class="quote-section">
  	<!-- <div class="forth-section-wrapper">
		<div class="rotating-text" id="rotating-item-wrapper">
			<div class="rotating-item"> 
				<span class="rotating-quote">This is some funny stuff, I hope you're using it for something.</span>
				<span class="rotating-quote-author">-Roy Wood Jr</span> 
			</div>
			<div class="rotating-item"> 
				<span class="rotating-quote">"ROTFL, I needed this laugh! Thanks so much!!!"</span>
				<span class="rotating-quote-author">-Bernadette Allen</span> 
			</div>
			<div class="rotating-item"> 
				<span class="rotating-quote">"I have to hide HD at work but its hilarious!"</span>
				<span class="rotating-quote-author">-Jenna Williams</span> 
			</div>

		</div>
	</div> -->


	<div class="quote2"><h2 class="quote_user1" style="display: block;"><span class="quote_mark"><img class="quote-img" src="https://i.imgur.com/ssLhBkg.png" alt=""><br>This is some funny stuff, I hope you're using it for something.<br><span class="quote_name2 quote2-name">— Roy Wood Jr.</span></span></h2><h2 class="quote_user2" style="display: none;"><span class="quote_mark"><img class="quote-img" src="https://i.imgur.com/ssLhBkg.png" alt=""><br>ROTFL, I needed this laugh! Thanks so much!!!<br><span class="quote_name2 quote2-name">— Bernadette Allen</span></span></h2><h2 class="quote_user3" style="display: none;"><span class="quote_mark"><img class="quote-img" src="https://i.imgur.com/ssLhBkg.png" alt=""><br>I have to hide HD at work but its hilarious!<br><span class="quote_name2 quote2-name">— Jenna Williams</span></span></h2></div>
	<div class="users"><div class="user user-active"><img class="pic" src="https://i.imgur.com/qDLcpkj.jpg" alt="user1"></div><div class="user user-inactive"><img class="pic" src="https://i.imgur.com/ECWhRYW.jpg" alt="user1"></div><div class="user user-inactive"><img class="pic" src="https://www.hueston.com/wp-content/uploads/2017/10/Jenna_Williams_400x400.jpg" alt="user1"></div></div>
</section>

