<section class="forth-section">
  <div class="forth-section-wrapper">
    <div>
      <div class="text-center text-uppercase forth-section-heading">
      <p>
        After years of failing as a startup, Habits & Design switched to self help advice.
      </p>
      <p>
        Instead of telling ourselves what to do we just tell other people.
      </p>
    </div>
  </div>
</section>
