<section class="second-section">
  <div class="second-wrapper">
    <div class="medium-6 large-6 float-left img-box">
      <div class="left-part user-img">
        <p class="img-text">"I feel smarter every time I read Habits and Design" <br /> - Guy from Idaho</p>
      </div>
    </div>
    <div class="medium-6 large-6 float-left">
      <div class="right-part watch-img">
        <div class="img-wrapper text-center">
        <img src="{{asset "images/Icon-ClockMoney.png"}}" />
        </div>
        <p class="img-text text-center">Are you here for tips on money and time? Really, what are you doing here? 
</p>
      </div>
    </div>
  </div>
</section>