//---------------------------
// Colors
//---------------------------

$color__type:        #222222;
$color__type--hover: #7E7E7E;
$brand-color:        #a60505;
$white: #ffffff;
$off-white: #E2E2E2;
$black: #000000;

$body-color:      #333;
$grey-bg:         #FAFAFA;
$grey-bg--darker: #ECF0F1;
$border-color:    #ECF0F1;
$light-teal: #7ecb97;
$teal-hover: #65b77e;
$teal: #005E5B;
$dark-blue: #003B71;
$mid-blue: #37517e;
$dark-grey: #474747;

$twitter-brand:  #55acee;
$facebook-brand: #3b5998;
