//---------------------------
// Section-Three
//---------------------------

.third-section {
  background: $dark-grey;
  float: left;
  height: 100vh;
  width: 100%;
  clear: both;
  .third-section-wrapper {
    padding: 70px 30px;
    color: $off-white;
    font-family: $font__din-pro-con-b;
    position: relative;

    @media #{$screen-desktop-sm} {
      padding: 50px 30px;
    }
    span.third-section-quote {
      font-family: sans-serif;
    }
    @media #{$screen-large} {
      padding: 0 30px;
      display: table;
      height: 100%;
    }
    .third-section-heading {
      font-size: 72pt;
      line-height: normal;
      text-align: justify;
      padding: 45px 70px;

      @media #{$screen-desktop-sm} {
        font-size: 45pt;
        padding: 35px 70px;
      }
      @media #{$screen-tablet} {
        font-size: 34pt;
        padding: 0 70px 45px;
      }
      @media #{$screen-large} {
        font-size: 50pt;
        padding: 0 70px 45px;
      }
    }
    .author-name {
      font-size: 35pt;
      padding: 0 70px 0;
    }
  }
}

@media #{$screen-large} {
  .third-section .third-section-wrapper > div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

@media #{$screen-mobile} {
  .third-section {
    height: 100%;
    .third-section-wrapper {
      padding: 30px;
      .third-section-heading, .author-name {
        font-size: 22pt;
        line-height: normal;
        text-align: justify;
        padding: 10px;
      }
    }
  }
}
