<section class="signup-section without-icon">
  <div class="signup-section-wrapper">
    <div class="signup-form">
     <p class="text-center signup-section-heading">
        Subscribe Now
      </p>   
      <p class="text-center signup-text">
        Getting thousands of people through their dreary work days since 2015.
        </p>
        </br>
        </br>
        <p id="rotatingText"> </p>

   
      
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="submit-form">
        <form action="https://habitsanddesign.us12.list-manage.com/subscribe/post-json?u=d452c0f3d9495ffa03e4c0cc1&amp;id=537c93c505&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="johnwest@gmail.com" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d452c0f3d9495ffa03e4c0cc1_537c93c505" tabindex="-1" value=""></div>
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
          </div>
        </form>
      </div>
      <div id="mc_embed_signup" class="submit-form form-hidden">
        <form action="https://habitsanddesign.us12.list-manage.com/subscribe/post-json?u=d452c0f3d9495ffa03e4c0cc1&amp;id=537c93c505&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate for-google" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="johnwest@gmail.com" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d452c0f3d9495ffa03e4c0cc1_537c93c505" tabindex="-1" value=""></div>
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
          </div>
        </form>
      </div>
        <br>
        <div id="snackbar">Some text some message..</div>

      <!--End mc_embed_signup-->

    </div>
  </div>
</section>
